@model IEnumerable<Product>

<style>
    .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="text-center">
    <h1>Obrigado pela compra!</h1>
    <h2>Verifique seu email.</h2>
    <br />
    <label>itens comprados:</label>
    <table>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Quantity unidades</td>
                </tr>
            }
        </tbody>
    </table>
</div>