@model Customer

@if (TempData["RegisterSuccess"] != null)
{
    <div class="alert alert-error">
        @TempData["RegisterSuccess"]
    </div>
    TempData.Remove("RegisterSuccess");
}
else
{
    @if (TempData["RegisterErro"] != null)
    {
        <div class="alert alert-error">
            @TempData["RegisterErro"]
        </div>
        TempData.Remove("RegisterErro");
    }
}

<h1>Cadastre-se</h1>

<form asp-controller="Login" asp-action="RequestRegister" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Primeiro nome:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Último nome:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Senha:</label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsAdmin" class="control-label">Conta de administrador?</label>
        <input type="checkbox" asp-for="IsAdmin">
        <span asp-validation-for="IsAdmin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </div>
</form>